#wall .tag1 {
    display: none;
}

#class .tag1 {
    display: none;
}

#class .tag5 {
    display: none;
}

#parent {
    display: none;
}

#tag-2 {
    display: none;
}

#wall .tag5 {
    display: none;
}

#wall .tag2 {
    display: none;
}

#wall .tag1 {
    display: none;
}

#class .tag1 {
    display: none;
}

#class .tag5 {
    display: none;
}

#parent {
    display: none;
}

#tag-2 {
    display: none;
}

#wall .tag5 {
    display: none;
}

#wall .tag2 {
    display: none;
}

#wall .tag1 {
    display: none;
}

#class .tag1 {
    display: none;
}

#class .tag5 {
    display: none;
}

#parent {
    display: none;
}

#tag-2 {
    display: none;
}

#wall .tag5 {
    display: none;
}

#wall .tag2 {
    display: none;
}